._block {
    margin-bottom: 30px;
    @include border-radius(2px);
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    width: 100%;
    padding: 0;
    margin: 0;
    color: $brand-dark;

    ._block-title {
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid inherit;
    }

    &._block-radius { border-radius: 4px }
    &._block-info { background-color: $brand-info; color: $brand-dark }
    &._block-primary { background-color: $brand-primary; color: white }
    &._block-grey { background-color: #c5ccd0; color: #333; border: 1px solid #e1e1e1 }
    &._block-blue { background-color: #3B548B; color: white }
    &._block-black { background-color: $brand-darker; color: white }
    &._block-white { background-color: white; color: $brand-dark }

    .block-content {
        padding: 10px;

        h3 {
            margin: 0px;
            padding: 0;
            font-size:25px;
            font-weight: 500;
            line-height: 20px;
        }
    }

}




._block-blue {
    .table-striped {
        > tbody > tr:nth-of-type(odd) {
            background-color: $brand-primary;
        }
    }

    .table > tbody > tr > td {
        border: none;
    }
}
