* { margin: 0; padding: 0 }
a { text-decoration: none; color: $linkColour }

@font-face {
    font-family: "Averta";
    src: url("/assets/fonts/averta/AvertaDemo-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Libre Franklin', 'Source Sans Pro', Calibri, sans-serif;
    background-color: $body-bg;
    font-size: 16px;
    color: $fontColour;
}

p {
    text-align: justify;
    color: $brand-dark;
}

.ion-checkmark { color: $brand-success }

h1,h2,h3,h4 { margin: 0 }
h1 { font-size: 3em }
h2 { font-size: 2.4em }
h3 { font-size: 2em }
h4 { font-size: 1.5em }
h5 { font-size: 1.1em }

.td-100 { width:100% }
.td-85 { width:85% }
.td-80 { width:80% }
.td-70 { width:70% }
.td-60 { width:60% }
.td-50 { width:50% }
.td-45 { width:45% }
.td-40 { width:40% }
.td-35 { width:35% }
.td-30 { width:30% }
.td-25 { width:25% }
.td-20 { width:20% }
.td-15 { width:15% }
.td-10 { width:10% }
.td-8 { width:8% }
.td-5 { width:5% }
.td-3 { width:3% }

.bold { font-weight: bold }
.teal { color: $brand-teal }
.dark { color: $brand-dark }
.red { color: $brand-danger }
.green { color: $brand-success }
.primary { color: $brand-primary }
.bg-primary {
  background-color: $brand-primary;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-transform: uppercase;
}
.elevated { box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2) }
.w-100 { width: 100px }
.w-150 { width: 150px }
.w-200 { width: 200px }
.w-250 { width: 250px }
.w-300 { width: 300px }
.fw-300 { font-weight: 300 }
.fw-500 { font-weight: 500 }
.fw-600 { font-weight: 600 }
.pointer { cursor: pointer }
.text-right { text-align: right }
.text-center { text-align: center }
.bg-white { background-color: white }
.linethrough { text-decoration: line-through }

.btn-teal { background-color: $brand-teal; color: white }
.btn-teal:hover, .btn-teal:focus { color: white }
.btn-dark { background-color: $brand-dark; color: white }
.btn-wise { background-color: $brand-wise; color: white }
.btn-bleue { background-color: $color-blue-presumi; color: white }
.btn-presumi { background-color: $brand-presumi; color: white }
.btn-rentals { background-color: $brand-yellow; color: $brand-dark }
.btn:focus { outline: none }
.link { color: $brand-presumi }
.btn-lg {
    font-size: 1em;
    border-radius: 3px;
    padding: 12px 20px;

    &:hover,
    &:focus { color: white }
    i { font-size: 1.2em; margin-right: 5px }
}

._text {
    ul {
        padding-left: 20px;
    }
}
.has-fixed-nav { padding-top: 60px }

.signature-pad {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 5px;
}
