/node_modules
/public/hot
/public/backend/css
/public/backend/js
/public/assets/css
/public/assets/js
/public/storage
/public/docs
/public/images
public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
