.pricings {
    margin-top: 40px;
    .pricing {
        background-color: white;
        @include border-radius(10px);
        @include box-shadow();
        padding: 20px;
        margin-bottom: 40px;
        .title {
            font-weight: 600;
            color: $brand-teal;
            font-size: 22px;
            text-align: center;
        }
        .desc {
            font-size: 16px;
            color: $brand-teal;
            text-align: center;
            height: 40px;
        }
        .price {
            margin: 20px 0;
            text-align: center;
            color: $brand-purple;
            font-size: 30px;
            font-weight: bold;
        }
        .options {
            font-size: 15px;
        }
        .drinks {
            margin-top: 20px;
            height: 120px;
            overflow: scroll;;
            h5 {
                font-weight: bold;
            }
        }
    }
}
.pricing-page {
    margin-top: 40px;
    .pricing-content {
        h5 {
            color: $brand-teal;
            font-family: Averta, sans-serif;
        }
        h2 {
            font-weight: 600;
            color: $brand-dark-light;
            font-size: 22px;
        }
        h1 {
            color: $brand-purple;
            font-size: 32px;
        }
        h4 {
            color: $brand-purple;
            font-size: 20px;
            font-family: Averta, sans-serif;
        }
        .items {
            margin-top: 20px;
            font-family: Averta, sans-serif;
            font-size: 16px;
            color: $brand-teal;
            li {
                background-color: $brand-grey;
                padding: 10px 20px;
                border-radius: 4px;
                margin-bottom: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        ._form {
            label,
            .form-control {
                font-family: Averta, sans-serif;
                font-size: 16px;
            }
        }
    }
}
.list-clickable {
    li {
        background-color: #EFF2FA;
        padding: 7px 15px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
        i {
            margin-right: 7px;
        }
    }
}
.checkout-message {
    font-family: Averta, sans-serif;
    ul { padding-left: 40px }
    h4 {
        color: $brand-purple;
        font-size: 20px;
        font-family: Averta, sans-serif;
    }
    h5 {
        color: $brand-teal;
        font-family: Averta, sans-serif;
    }
}
